In [32]:
import pandas as pd
sales = pd.read_excel('combustion_sales.xlsx')

In [33]:
sales = sales.loc[sales['Year'] >= 2000]
sales = sales.loc[sales['Year'] <= 2023]

In [34]:
# add values for hybrid sales to these values
# https://www.bts.gov/content/gasoline-hybrid-and-electric-vehicle-sales
hybrid = pd.Series([10, 20, 40, 50, 90, 210, 250, 350, 310, 290, 275, 260, 460, 540, 510, 430, 420, 450, 460, 490, 530, 980, 0])
sales['Hybrid'] = hybrid.values

# add a column for electric sales
electric = pd.Series([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 15, 40, 60, 70, 90, 105, 205, 230, 240, 460, 0])
sales["Electric"] = electric.values

sales.head()

    Year  Combustion  Hybrid  Electric
24  2000     17349.7      10         0
25  2001     17122.4      20         0
26  2002     16816.2      40         0
27  2003     16639.1      50         0
28  2004     16866.9      90         0

In [40]:
# what is the average change percentage for each year?
change = sales['Combustion'].diff() / sales['Combustion']
sales['del_Com'] = change.values
change = sales['Hybrid'].diff() / sales['Hybrid']
sales['del_Hybrid'] = change.values
change = sales['Electric'].diff() / sales['Electric']
sales['del_Elc'] = change.values
sales.head(24)

    Year  Combustion  Hybrid  Electric   del_Com  del_Hybrid   del_Elc
24  2000     17349.7      10         0       NaN         NaN       NaN
25  2001     17122.4      20         0 -0.013275    0.500000       NaN
26  2002     16816.2      40         0 -0.018209    0.500000       NaN
27  2003     16639.1      50         0 -0.010644    0.200000       NaN
28  2004     16866.9      90         0  0.013506    0.444444       NaN
29  2005     16948.2     210         0  0.004797    0.571429       NaN
30  2006     16504.1     250         0 -0.026908    0.160000       NaN
31  2007     16089.0     350         0 -0.025800    0.285714       NaN
32  2008     13194.8     310         0 -0.219344   -0.129032       NaN
33  2009     10402.3     290         0 -0.268450   -0.068966       NaN
34  2010     11554.8     275         0  0.099742   -0.054545       NaN
35  2011     12741.8     260        10  0.093158   -0.057692  1.000000
36  2012     14433.2     460        15  0.117188    0.434783  0.333333
37  2013     15530.1     540        40  0.070631    0.148148  0.625000
38  2014     16452.2     510        60  0.056047   -0.058824  0.333333
39  2015     17408.0     430        70  0.054906   -0.186047  0.142857
40  2016     17477.3     420        90  0.003965   -0.023810  0.222222
41  2017     17150.1     450       105 -0.019079    0.066667  0.142857
42  2018     17224.9     460       205  0.004343    0.021739  0.487805
43  2019     16961.1     490       230 -0.015553    0.061224  0.108696
44  2020     14471.8     530       240 -0.172010    0.075472  0.041667
45  2021     14946.9     980       460  0.031786    0.459184  0.478261
46  2022     13754.3       0         0 -0.086707        -inf      -inf